.block-buttons button {
    width: 100% !important;
    height: 50px;
    margin-bottom: 14px;
    border-radius: 0 !important;
    background-color: #c2d2e8;
    text-transform: uppercase;
    color: #000;
    border-color: #a7a7a7;
    font-size: 12px;
    font-weight: 600;
}

.block-buttons button:hover {
    background-color: #c0bff5 !important;
    color: black !important;
}

#block-inputs {
    background-color: #c2d2e8;
    overflow: auto;
    height: 500px;
    padding: 10px 20px 0 20px;
    border: 1px solid #a7a7a7;
}

#block1,#block2,#block3,#block4,#block5,#block6,#block7,#block8 {
    display: none;
    white-space: nowrap;
    /* background: yellow; */
    vertical-align: middle;
    line-height: 30px;
    /* height: 30px; */
}


#block1 input,#block2 input,#block3 input,#block4 input,#block5 input,#block6 input,#block7 input,#block8 input{
    border-radius: 0;
}

.in {
    display: block !important;
}

